@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins';
}

body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main{
  border: 1px solid black;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(112, 111, 111, 0.5);
  width: 45%;
  height: 75%;
}
.main h1{
  /* margin-bottom: 10px; */
  font-weight: 500;
  color: rgb(54, 54, 54);
  text-shadow: 4px 4px 4px rgba(194, 194, 194, 0.5);
}
.main h3{
  font-weight: 400;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(185, 185, 185, 0.986);
}
img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px ;
  box-shadow: 10px 0px 30px rgba(145, 144, 144, 0.719);
}
.controls{
  /* border: 2px solid black; */
  width: 100%;
}
.time{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
  font-weight: 200;
}
.progressContainer{
  width: 100%;
  /* padding: 1px 0px; */
  /* background-color: rgb(165, 165, 165); */
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  cursor: pointer;
}
.progressParent{
  width: 100%;
  overflow: hidden;
}
.progress{
  width: 1%;
  background-color: rgba(0, 0, 255, 0.89);
  height: 3px;
  cursor: pointer;
}
.buttons{
  width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  align-items: center;
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgb(180, 180, 180);
}
.play{
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding-top: 11px;
  padding-left: 12px;
  padding-bottom: 0px;
  padding-right: 11px;
}
.fa-solid{
  cursor: pointer;
}

/* Define the animation */
.anime {
  animation: rotatePlayer 30s linear infinite;
}

@keyframes rotatePlayer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}